<div id="stats-340">
  <ul class="cs-card-group">
    <li class="cs-item">
      <picture class="cs-picture">
        <img
          class="cs-icon"
          src="https://csimg.nyc3.digitaloceanspaces.com/Stats/person2-gold.svg"
          alt="icon"
          width="35"
          height="40"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </picture>
      <div class="cs-flex-group">
        <span class="cs-number">Owned</span>
        <span class="cs-desc">in Jacksonville, FL</span>
      </div>
    </li>
    <li class="cs-item">
      <picture class="cs-picture">
        <img
          class="cs-icon"
          src="https://csimg.nyc3.digitaloceanspaces.com/Stats/mop-gold.svg"
          alt="icon"
          width="40"
          height="35"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </picture>
      <div class="cs-flex-group">
        <span class="cs-number">Est.</span>
        <span class="cs-desc"> in 2025</span>
      </div>
    </li>
    <li class="cs-item">
      <picture class="cs-picture">
        <img
          class="cs-icon"
          src="https://csimg.nyc3.digitaloceanspaces.com/Stats/thumbs-gold.svg"
          alt="icon"
          width="40"
          height="40"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </picture>
      <div class="cs-flex-group">
        <span class="cs-number">15%</span>
        <span class="cs-desc">Off First Service</span>
      </div>
    </li>
  </ul>
  <!--Background Image-->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="https://csimg.nyc3.digitaloceanspaces.com/Stats/cleaning-products-m.jpg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://csimg.nyc3.digitaloceanspaces.com/Stats/cleaning-products.jpg"
    />
    <img
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.digitaloceanspaces.com/Stats/cleaning-products.jpg"
      alt="cleaning products"
      width="1920"
      height="283"
    />
  </picture>
</div>

<style lang="less">
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #stats-340 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;

      .cs-background {
        width: 100%;
        height: 100%;
        background-color: #1a1a1a;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0.16;
          object-fit: cover;
        }
      }

      .cs-card-group {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: (600/16rem);
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: (40/16rem);
      }

      .cs-item {
        list-style: none;
        /* changes to 260px at tablet */
        width: (200/16rem);
        min-width: auto;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .cs-picture {
        /* 60px - 80px */
        width: clamp(3.75rem, 7.9vw, 5rem);
        height: clamp(3.75rem, 7.9vw, 5rem);
        margin-right: (16/16rem);
        border-radius: 50%;
        border: 1px solid #bababa;
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents border from adding to height and width */
        box-sizing: border-box;
        /* prevents flexbox from squishing it */
        flex: none;
      }

      .cs-icon {
        /* 28px - 40px */
        width: clamp(1.75rem, 3.9vw, 2.5rem);
        height: auto;
      }

      .cs-flex-group {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
      }

      .cs-number {
        font-size: var(--headerFontSize);
        color: var(--bodyTextColorWhite);
        font-weight: 900;
        line-height: 1.2em;
        margin: 0;
        display: block;
      }

      .cs-desc {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.4vw, 1rem);
        line-height: 1.5em;
        color: var(--bodyTextColorWhite);
        display: block;
      }
    }
  }

  /* Tablet - 650px */
  @media only screen and (min-width: 40.625rem) {
    #stats-340 {
      .cs-card-group {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: (50/16rem);
        row-gap: (60/16rem);
      }

      .cs-item {
        width: (260/16rem);
      }
    }
  }

  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #stats-340 {
      .cs-card-group {
        max-width: (1280/16rem);
        flex-wrap: nowrap;
        justify-content: space-evenly;
      }
    }
  }
</style>
