<section id="sbs-2316">
  <div class="cs-container">
    <div class="cs-content cs-content1">
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction4.jpg"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction4.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction4.jpg"
          alt="people"
          width="608"
          height="406"
        />
      </picture>
      <div class="cs-wrapper cs-wrapper1">
        <h1 class="cs-title">Driveway Pressure Washing in Jacksonville, FL</h1>
        <p class="cs-text">
          Driveways are often the first surface noticed when approaching a
          property. In Jacksonville’s climate, concrete and other driveway
          materials collect dirt, tire marks, mildew, and organic growth.
          Driveway pressure washing is used to remove this buildup and restore a
          more even, clean appearance.
        </p>
        <ul class="cs-ul">
          <strong>What's Included?</strong>
          <li class="cs-li">
            Pressure washing of concrete and similar hard driveway surfaces
          </li>
          <li class="cs-li">
            Focus on removing surface-level staining, algae, and mildew
          </li>
          <li class="cs-li">
            Rinsing of adjacent areas affected by overspray where appropriate
          </li>
        </ul>
      </div>
    </div>
    <div class="cs-content cs-content2">
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction4.jpg"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction4.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction4.jpg"
          alt="people"
          width="608"
          height="406"
        />
      </picture>
      <div class="cs-wrapper cs-wrapper2">
        <ul class="cs-ul">
          <strong>Benefits of Driveway Cleaning</strong>
          <li class="cs-li">Curb appeal when arriving at the property</li>
          <li class="cs-li">A more even visual appearance for all</li>
          <li class="cs-li">Reduced slippery areas</li>
        </ul>
        <a class="cs-button-solid" href="/contact">Contact Us</a>
      </div>
    </div>
  </div>
</section>

<style lang="less">
  /*-- -------------------------- -->
<!--        Side by Side        -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #sbs-2316 {
      padding: var(--sectionPadding);
      position: relative;

      .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: (584/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 10vw, 4rem);
      }

      .cs-content {
        /* set text align to center if content needs to be centrally aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* aligns content to the left, set to center to centrally align */
        align-items: flex-start;
        /* 48px - 72px */
        gap: clamp(3rem, 7vw, 4.5rem);
      }

      .cs-content2 {
        /* 20px - 72px */
        gap: clamp(1.25rem, 7vw, 4.5rem);
      }

      .cs-title,
      .cs-text {
        max-width: 100%;
      }

      .cs-ul {
        margin: (16/16rem) 0 (32/16rem) 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: (12/16rem);
      }

      .cs-li {
        font-size: (16/16rem);
        line-height: 1.5em;
        list-style: none;
        color: var(--bodyTextColor);

        &:before {
          /* bullet */
          content: "";
          width: (8/16rem);
          height: (8/16rem);
          margin: 0 (12/16rem) (2/16rem) (2/16rem);
          background: var(--secondary);
          display: inline-block;
          transform: rotate(45deg);
        }
      }

      .cs-button-box {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        column-gap: (32/16rem);
        row-gap: (16/16rem);
      }

      .cs-link {
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: (16/16rem);
        position: relative;
      }

      .cs-icon-wrapper {
        width: (60/16rem);
        height: (60/16rem);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: transform 0.3s;
        /* prevents flexbox from squishing it */
        flex: none;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          background-color: var(--primary);
          opacity: 0.05;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
      }

      .cs-icon {
        width: (24/16rem);
        height: auto;
        display: block;
      }

      .cs-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: (4/16rem);
      }

      .cs-link-content {
        font-size: (16/16rem);
        font-weight: 400;
        line-height: 1.2em;
        margin: 0;
        color: var(--bodyTextColor);
        display: block;
      }

      .cs-phone {
        font-size: (25/16rem);
        font-weight: 700;
        line-height: 1.2em;
        margin: 0;
        color: var(--headerColor);
        display: block;
      }

      .cs-img {
        width: (60/16rem);
        height: auto;
      }

      .cs-signature {
        width: auto;
        height: (36/16rem);
        /* centers the signature while everything else remains aligned to the left */
        margin: 0 auto;
        display: block;
      }

      .cs-job {
        font-size: (16/16rem);
        line-height: 1.5em;
        text-align: center;
        margin-top: (6/16rem);
        padding-top: (4/16rem);
        color: var(--bodyTextColor);
        border-top: 1px solid #e7e7e8;
      }

      .cs-button-solid {
        font-size: (16/16rem);
        font-weight: 700;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-align: center;
        text-decoration: none;
        min-width: (150/16rem);
        margin: (32/16rem) 0 0;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        padding: 0 (24/16rem);
        background-color: var(--primary);
        color: #fff;
        border-radius: (4/16rem);
        display: inline-block;
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          width: 0%;
          height: 100%;
          background: #000;
          opacity: 1;
          border-radius: (4/16rem);
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

      .cs-picture {
        display: block;
        position: relative;
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-picture1 {
        width: 100%;
        /* 280px - 400px */
        height: clamp(17.5rem, 55vw, 25rem);
      }

      .cs-picture2 {
        width: 100%;
        height: (280/16rem);
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #sbs-2316 {
      .cs-container {
        max-width: (1280/16rem);
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
      }

      .cs-content {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
      }

      .cs-content2 {
        flex-direction: row-reverse;
        justify-content: space-between;
      }

      .cs-wrapper {
        width: 100%;
        max-width: (795/16rem);
      }

      .cs-wrapper2 {
        max-width: (413/16rem);
        padding-bottom: (120/16rem);
      }

      .cs-picture1 {
        max-width: (412/16rem);
        height: auto;
      }

      .cs-picture2 {
        width: 64vw;
        max-width: (795/16rem);
        height: auto;
        flex: none;
      }
    }
  }

  /* Large Desktop - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #sbs-2316 {
      .cs-wrapper {
        padding-right: (72/16rem);
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      #sbs-2316 {
        .cs-title,
        .cs-text,
        .cs-li,
        .cs-link-content,
        .cs-phone,
        .cs-job {
          color: var(--bodyTextColorWhite);
        }

        .cs-text,
        .cs-li,
        .cs-link-content,
        .cs-job {
          opacity: 0.8;
        }

        .cs-icon-wrapper {
          &::before {
            background-color: var(--medium);
            opacity: 1;
          }
        }

        .cs-signature {
          filter: invert(1) brightness(100%);
        }
      }
    }
  }
</style>
